#detailsPage {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-items: center;
    
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 1400px;
    height: 600px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #cf370991;
    box-shadow: 14px 14px 30px #464a4e, -14px -14px 30px #464a4e;
    justify-content: center;
    margin-top: 100px;
    gap: 100px;
}

.animalPic {
    
    width: auto;
    margin-right: 20px;
}

.animalPic img {
    border-radius: 12px 12px 12px 12px;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.animalInfo {
    padding-left: 10px;
    padding-top: -10px;
}
.actionBtn {
    display: flex;
    text-align: center;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
}

.actionBtn > a,
.actionBtn > button {
    width: 100px;
    height: auto;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    display: inline;
    align-items: center;
    justify-content: center;
    background-color: #f34515;
    transition: 500ms;
    color: black;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    margin-right: 50px;
    box-shadow: 6px 6px 20px #464a4e62, -6px -6px 20px #464a4e62;
}


.actionBtn > button:hover {
    box-shadow: none;
    background-color:rgb(234, 0, 0);
}

.actionBtn > a:hover{
    box-shadow: none;
    background-color:yellowgreen;
}