.animals-dashboard {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    width: 80vw;
    gap:100px;
    padding-bottom: 50px;
}
.animals-dashboard::-webkit-scrollbar {
    height: 12px;
    width: 10px;
  }
  
  
  .animals-dashboard::-webkit-scrollbar-thumb {
    background-color: #3498db; 
    border-radius: 6px; 
  }
  

  .animals-dashboard::-webkit-scrollbar-thumb:hover {
    background-color: #2980b9; /* Change color on hover */
  }
  
  /* Style for the scrollbar track */
  .animals-dashboard::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the color of the track */
    border-radius: 6px; /* Round the corners of the track */
  }
  
  /* Style for the scrollbar arrows/buttons (not supported in all browsers) */
  .animals-dashboard::-webkit-scrollbar-button {
    display: none; /* Hide the scrollbar buttons */
  }

.animals-board {
    box-shadow: 6px 6px 20px #464a4e62, -6px -6px 20px #464a4e62;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 550px;
    text-align: center;
    border: 1px solid #FFC5C1;
    background: #f3f1f06d;
    margin: 0px ;
    padding: 20px 20px;
    border-radius: 12px;
    margin-left: 40px;
}

.animals-dashboard h2{
    font-size: 22px;
    font-weight: bolder;
}

.animals-dashboard h4{
    font-size: 18px;
    padding: 10px;
}

.animal-image-cover {
    width: 300px;
    height: 300px;
}

.animals-board .action {
    display: flex;
    text-align: center;
    align-items: center;
}

.animals-board .btn {
    width: 100px;
	height: auto;
	cursor: pointer;
	border: none;
    border-radius: 10px;
	display: inline;
	align-items: center;
    text-align: center;
	background-color: #FFC5C1;
	transition: 500ms;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 6px 6px 20px #464a4e62, -6px -6px 20px #464a4e62;
}

.dashboard-title {
    text-align: center;
    font-weight: bolder;
}

.action>a:hover {
	box-shadow: none;
}

.no-pets {
    font-size: 26px;
    font-weight: bolder;
    border: black solid;
    padding: 30px;
}


.catalog{
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#catalog{
    background-image: url(../images/catalog.jpg);
    background-size: cover;
    background-position: center; 
    height: 100vh;
    display: block;
}