.welcome-content {
  background-image: url(./favhom.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  .welcome-content-text p{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    position: center;
    left:200px;
    font-weight: 600;
    font-size: 23px;
    margin-top: 40px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;

  }
  
  .welcome-content-text h1 {
    font-size: 60px;
    margin: 0px;
    color: rgb(155, 43, 43);
    font-weight: 400;
    display: flex;
    width: 350px;
    margin-left: 10%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    left: 650px;
    text-align: center;
  }
  
  .welcome-content-text p {
    color: rgb(201, 36, 36);
    font-weight: 600;
  }
  
  h1.bold-welcome {
    font-weight: 800;
  }  
  .welcome-content-text{
    padding-bottom: 600px;
  }