@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
#register-page {
    display: block;
    text-align: center;
    background-image: url(../images/register1.jpg);
    background-size: cover; /* Adjust the background size as needed */
    background-position: center; /* Adjust the background position as needed */
    height: 100vh;
    font-family: 'Agbalumo', cursive;
  }
  
  .registerForm {
    display: inline-block;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    padding: 40px;
    margin-top: 100px;
    background: #cf37090f;
    box-shadow: 14px 14px 30px #464a4e, -14px -14px 30px #464a4e;
}
.registerForm label{
  margin-bottom: 5px;
  font-size: 20px;
}
  .btnregister{
    margin:10px
  }
  .registerForm input {
    margin-bottom: 10px;
}
.btnregister {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  box-sizing: border-box;
}
.btnregister:hover{
  background-color: #45a049;
}